<a href="https://colab.research.google.com/github/notacodingguy/housingdataset/blob/master/Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import pandas as pd
import numpy as np

In [41]:
train_df = pd.read_csv("/content/Train.csv")

In [42]:
test_df= pd.read_csv("/content/Test.csv")

In [43]:
output = pd.read_csv("/content/Sample Submission.csv")

In [44]:
train_df.head()

   SKU Code  CFA Code  ...  Secondary Sales Quantity Returned  SKU Combination
0         8         0  ...                                0.0                0
1         8         0  ...                                0.0                0
2         8         0  ...                                0.0                0
3         8         0  ...                                0.0                0
4         8         0  ...                                0.0                0

[5 rows x 11 columns]

In [45]:
def bhenchod(df):
  b = []
  c = []
  for i in range(len(df["DATE"])):
    b.append(int(df["DATE"][i][:4]))
    c.append(int(df["DATE"][i][5:7]))
  df["year"] = b
  df["month"] = c
  df.drop("DATE", inplace =True, axis =1)

In [46]:
bhenchod(train_df)
bhenchod(test_df)

In [47]:
y = train_df.iloc[:, 4:9]

In [48]:
X = train_df.drop(columns = y)

In [49]:
def prep(df):
  from sklearn.preprocessing import OneHotEncoder
  a = df[["Channel"]]
  ohe = OneHotEncoder()
  channel_ohe = ohe.fit_transform(a)
  b = channel_ohe.toarray()
  df["channel1"] = b[:, 0]
  df["channel2"] = b[:, 1]
  df["channel3"] = b[:, 2]
  df.drop(columns = "Channel", inplace = True, axis = 1)

In [50]:
prep(X)

In [51]:
prep(test_df)

In [52]:
from sklearn.preprocessing import MinMaxScaler
stsc1 = MinMaxScaler()
stsc2 = MinMaxScaler()
train_df_scaled = stsc1.fit_transform(X)
test_df_scaled = stsc2.fit_transform(y)

In [53]:
X

       SKU Code  CFA Code  Quantity  ...  channel1  channel2  channel3
0             8         0         2  ...       0.0       1.0       0.0
1             8         0         2  ...       0.0       1.0       0.0
2             8         0         2  ...       0.0       1.0       0.0
3             8         0         2  ...       0.0       1.0       0.0
4             8         0         2  ...       0.0       1.0       0.0
...         ...       ...       ...  ...       ...       ...       ...
31280        47        21        10  ...       0.0       0.0       1.0
31281        47        21        10  ...       0.0       0.0       1.0
31282        47        21        10  ...       0.0       0.0       1.0
31283        47        21        10  ...       0.0       0.0       1.0
31284        47        21        10  ...       0.0       0.0       1.0

[31285 rows x 9 columns]

In [54]:
y

       Secondary Sales Amount STC  ...  Secondary Sales Quantity Returned
0                            0.00  ...                                0.0
1                            0.00  ...                                0.0
2                            0.00  ...                                0.0
3                         7103.14  ...                                0.0
4                        31971.88  ...                                0.0
...                           ...  ...                                ...
31280                   134452.45  ...                               14.0
31281                   244484.61  ...                               13.0
31282                   128772.79  ...                                9.0
31283                    63638.18  ...                               12.0
31284                   102555.59  ...                                2.0

[31285 rows x 5 columns]

In [55]:
test_df

      SKU Code  CFA Code  Quantity  ...  channel1  channel2  channel3
0            8         0         2  ...       0.0       1.0       0.0
1            8         0         2  ...       0.0       1.0       0.0
2            8         0         2  ...       0.0       0.0       1.0
3            8         0         2  ...       0.0       0.0       1.0
4            8         1         2  ...       0.0       0.0       1.0
...        ...       ...       ...  ...       ...       ...       ...
2604        47        21        10  ...       1.0       0.0       0.0
2605        47        21        10  ...       0.0       1.0       0.0
2606        47        21        10  ...       0.0       1.0       0.0
2607        47        21        10  ...       0.0       0.0       1.0
2608        47        21        10  ...       0.0       0.0       1.0

[2609 rows x 9 columns]

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df_scaled, test_df_scaled, test_size = 0.167)

In [57]:
test = stsc1.transform(test_df)

In [58]:
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor
xgb = MultiOutputRegressor(XGBRegressor())
xgb.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:614: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  "because it will generate extra copies and increase memory consumption")

[02:18:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[02:18:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[02:18:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[02:18:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[02:18:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

MultiOutputRegressor(estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=3, min_child_weight=1,
                                            missing=None, n_estimators=100,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1),
                     n_jobs=None)

In [59]:
from lightgbm import LGBMRegressor
from sklearn.multioutput import MultiOutputRegressor
lgb = MultiOutputRegressor(LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.11108, max_depth= -1,
                                             min_child_samples=15,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=1000, n_jobs=-1,
                                             num_leaves=36, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))
lgb.fit(X_train, y_train)

MultiOutputRegressor(estimator=LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.11108,
                                             max_depth=-1, min_child_samples=15,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=1000, n_jobs=-1,
                                             num_leaves=36, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0),
                     n_jobs=None)

In [60]:
from sklearn.metrics import mean_absolute_error
print("using XGBoost")
print("the error in training data is", mean_absolute_error(y_train, xgb.predict(X_train)))
print("the error in validation data is", mean_absolute_error(y_test, xgb.predict(X_test)))
print("using LGBoost")
print("the error in training data is", mean_absolute_error(y_train, lgb.predict(X_train)))
print("the error in validation data is", mean_absolute_error(y_test, lgb.predict(X_test)))

using XGBoost
the error in training data is 0.0074660918877192005
the error in validation data is 0.007687601217121737
using LGBoost
the error in training data is 0.0030079548632908145
the error in validation data is 0.004108034108045656

In [61]:
from lightgbm import LGBMRegressor
from sklearn.multioutput import MultiOutputRegressor
lgb = MultiOutputRegressor(LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.11108, max_depth=-1,
                                             min_child_samples=15,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=1000, n_jobs=-1,
                                             num_leaves=36, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))
lgb.fit(train_df_scaled, test_df_scaled)

MultiOutputRegressor(estimator=LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.11108,
                                             max_depth=-1, min_child_samples=15,
                                             min_child_weight=0.001,
                                             min_split_gain=0.0,
                                             n_estimators=1000, n_jobs=-1,
                                             num_leaves=36, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0),
                     n_jobs=None)

In [62]:
print("the error in training data is", mean_absolute_error(test_df_scaled, lgb.predict(train_df_scaled)))

the error in training data is 0.00303629651516808

In [63]:
y_pred = lgb.predict(test)

In [64]:
output.iloc[:, 2:] = stsc2.inverse_transform(y_pred)

In [65]:
output.to_csv('output.csv', index = False)

In [66]:
output.head()

         DATE  ...  Secondary Sales Quantity Returned
0  2020-01-01  ...                          22.401416
1  2020-02-01  ...                          51.411451
2  2020-01-01  ...                          -3.659613
3  2020-02-01  ...                         437.970076
4  2020-01-01  ...                        -130.598434

[5 rows x 7 columns]

In [74]:
output

            DATE  ...  Secondary Sales Quantity Returned
0     2020-01-01  ...                          22.401416
1     2020-02-01  ...                          51.411451
2     2020-01-01  ...                          -3.659613
3     2020-02-01  ...                         437.970076
4     2020-01-01  ...                        -130.598434
...          ...  ...                                ...
2604  2020-02-01  ...                          12.804739
2605  2020-01-01  ...                        -133.110310
2606  2020-02-01  ...                         -11.460893
2607  2020-01-01  ...                         -28.536287
2608  2020-02-01  ...                          70.068375

[2609 rows x 7 columns]

In [67]:
promotional_df = pd.read_csv("/content/Promotional_Data.csv")

In [68]:
promotional_df.shape

(962, 4)

In [69]:
import tensorflow as tf
from tensorflow import keras

In [70]:
model = keras.models.Sequential([
                                 
    keras.layers.Flatten(),
    keras.layers.BatchNormalization(),
    keras.layers.Dense(100, activation = 'relu'),
    keras.layers.BatchNormalization(),
    keras.layers.Dense(60, activation = 'relu'),
    keras.layers.BatchNormalization(),
    keras.layers.Dense(30, activation = 'relu'),
    keras.layers.BatchNormalization(),
    keras.layers.Dense(5)
])

In [71]:
model.compile(loss = "mean_absolute_error", optimizer = "sgd")

In [72]:
#history = model.fit(X_train, y_train, epochs = 50, validation_data = (X_test, y_test))

In [73]:
print("using neural networks")
print("training_data", mean_absolute_error(y_train, model.predict(X_train)))
print("valid_data", mean_absolute_error(y_test, model.predict(X_test)))

using neural networks
training_data 0.1653815308597573
valid_data 0.1660207818372807