<a href="https://colab.research.google.com/github/notacodingguy/housingdataset/blob/master/Untitled_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
train_df = pd.read_csv("/content/Train.csv")

In [5]:
test_df = pd.read_csv("/content/Test.csv")

In [6]:
output =pd.read_csv("/content/Sample Submission.csv")

In [7]:
from matplotlib import pyplot

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31285 entries, 0 to 31284
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   SKU Code                           31285 non-null  int64
 1   CFA Code                           31285 non-null  int64
 2   Channel                            31285 non-null  int64
 3   Quantity                           31285 non-null  int64
 4   DATE                               31285 non-null  object
 5   Secondary Sales Amount STC         31285 non-null  float64
 6   Secondary Sales Amount Invoiced    31285 non-null  float64
 7   Secondary Sales Amount Returned    31285 non-null  float64
 8   Secondary Sales Quantity Invoiced  31285 non-null  float64
 9   Secondary Sales Quantity Returned  31285 non-null  float64
 10  SKU Combination                    31285 non-null  int64
dtypes: float64(5), int64(5), object(1)
memory usage: 2.6+ MB

In [9]:
train_df["DATE"].value_counts()

2019-08-01    1560
2019-05-01    1529
2019-06-01    1522
2019-03-01    1522
2019-01-01    1519
2019-04-01    1517
2019-02-01    1515
2019-07-01    1513
2019-10-01    1399
2019-11-01    1381
2019-09-01    1370
2019-12-01    1327
2018-11-01    1180
2018-10-01    1176
2018-09-01    1172
2018-12-01    1167
2018-08-01    1155
2018-07-01    1155
2018-01-01    1123
2018-03-01    1117
2018-02-01    1110
2018-04-01    1094
2018-05-01    1084
2018-06-01    1078
Name: DATE, dtype: int64

In [10]:
test_df["DATE"].value_counts()

2020-01-01    1313
2020-02-01    1296
Name: DATE, dtype: int64

In [11]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder()
a1 = train_df[["DATE"]]
b1 = ord_enc.fit_transform(a1)

In [12]:
train_df["DATE"] = b1

In [13]:
b1

array([[12.],
       [13.],
       [14.],
       ...,
       [21.],
       [22.],
       [23.]])

In [14]:
train_df.head()

   SKU Code  CFA Code  ...  Secondary Sales Quantity Returned  SKU Combination
0         8         0  ...                                0.0                0
1         8         0  ...                                0.0                0
2         8         0  ...                                0.0                0
3         8         0  ...                                0.0                0
4         8         0  ...                                0.0                0

[5 rows x 11 columns]

In [15]:
X = train_df.iloc[:, :5]
X["SKU Combination"] = train_df["SKU Combination"]
y = train_df.iloc[:, 5:10]

In [16]:
X.head()

   SKU Code  CFA Code  Channel  Quantity  DATE  SKU Combination
0         8         0        1         2  12.0                0
1         8         0        1         2  13.0                0
2         8         0        1         2  14.0                0
3         8         0        1         2  15.0                0
4         8         0        1         2  16.0                0

In [17]:
y.head()

   Secondary Sales Amount STC  ...  Secondary Sales Quantity Returned
0                        0.00  ...                                0.0
1                        0.00  ...                                0.0
2                        0.00  ...                                0.0
3                     7103.14  ...                                0.0
4                    31971.88  ...                                0.0

[5 rows x 5 columns]

In [18]:
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor
xgb1 = MultiOutputRegressor(XGBRegressor())
xgb1.fit(X, y)

[16:52:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:11] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:13] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

MultiOutputRegressor(estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=3, min_child_weight=1,
                                            missing=None, n_estimators=100,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1),
                     n_jobs=None)

In [19]:
test_df.loc[:, 'DATE'] = test_df.loc[:, 'DATE'].map({'2020-02-01': 25, '2020-01-01': 24})

In [20]:
test_df.head()

   SKU Code  CFA Code  Channel  Quantity  DATE  SKU Combination
0         8         0        1         2    24                0
1         8         0        1         2    25                0
2         8         0        2         2    24                1
3         8         0        2         2    25                1
4         8         1        2         2    24                3

In [21]:
X.head()

   SKU Code  CFA Code  Channel  Quantity  DATE  SKU Combination
0         8         0        1         2  12.0                0
1         8         0        1         2  13.0                0
2         8         0        1         2  14.0                0
3         8         0        1         2  15.0                0
4         8         0        1         2  16.0                0

In [22]:
y_pred = xgb1.predict(test_df)

In [23]:
y_pred

array([[ 3.4225000e+04,  6.5339973e+04,  2.6704292e+03,  1.1479054e+03,
         2.6918570e+01],
       [ 3.4225000e+04,  6.5339973e+04,  2.6704292e+03,  1.1479054e+03,
         2.6918570e+01],
       [ 4.5279381e+05,  4.7889025e+05,  3.4771742e+04,  1.1799728e+04,
         1.7123193e+03],
       ...,
       [ 2.1032008e+05,  2.2977861e+05, -4.5079059e+02,  2.5807332e+03,
         1.3183651e+01],
       [ 2.5615512e+05,  3.1697372e+05,  6.6702119e+03,  2.3205283e+03,
         6.8297272e+01],
       [ 2.5615512e+05,  3.1697372e+05,  6.6702119e+03,  2.3205283e+03,
         6.8297272e+01]], dtype=float32)

In [24]:
data_df12 = X[X["DATE"] == 22]

In [25]:
data_df13 = X[X["DATE"] == 23]

In [26]:
frames = [data_df12, data_df13]

In [27]:
X2 = pd.concat(frames)

In [28]:
X2.DATE.value_counts()

22.0    1381
23.0    1327
Name: DATE, dtype: int64

In [29]:
X1 = X[X["DATE"] < 22]

In [30]:
X1.shape

(28577, 6)

In [31]:
X2.shape

(2708, 6)

In [32]:
test_df.shape

(2609, 6)

In [33]:
train_df1 = train_df[train_df["DATE"] < 22]

In [34]:
y1 = train_df1.iloc[:, 5:10]

In [35]:
y1.head()

   Secondary Sales Amount STC  ...  Secondary Sales Quantity Returned
0                        0.00  ...                                0.0
1                        0.00  ...                                0.0
2                        0.00  ...                                0.0
3                     7103.14  ...                                0.0
4                    31971.88  ...                                0.0

[5 rows x 5 columns]

In [36]:
train_df2 = train_df[train_df["DATE"] >21]

In [37]:
y2 = train_df2.iloc[:, 5:10]

In [38]:
y2.head()

    Secondary Sales Amount STC  ...  Secondary Sales Quantity Returned
10                        0.00  ...                                0.0
11                        0.00  ...                                0.0
27                  1409202.82  ...                              148.0
28                   668741.43  ...                             2400.0
52                   697690.97  ...                              262.0

[5 rows x 5 columns]

In [39]:
X2.DATE.value_counts()

22.0    1381
23.0    1327
Name: DATE, dtype: int64

In [40]:
train_df1.DATE.value_counts()

19.0    1560
16.0    1529
17.0    1522
14.0    1522
12.0    1519
15.0    1517
13.0    1515
18.0    1513
21.0    1399
20.0    1370
10.0    1180
9.0     1176
8.0     1172
11.0    1167
6.0     1155
7.0     1155
0.0     1123
2.0     1117
1.0     1110
3.0     1094
4.0     1084
5.0     1078
Name: DATE, dtype: int64

In [41]:
X1.shape

(28577, 6)

In [42]:
X2.shape

(2708, 6)

In [43]:
y1.shape

(28577, 5)

In [44]:
y2.shape

(2708, 5)

In [45]:
test_df.shape

(2609, 6)

In [46]:
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor
xgb2 = MultiOutputRegressor(XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.01, max_delta_step=0,
                                            max_depth=5, min_child_weight=1,
                                            missing=None, n_estimators=148,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1))
xgb2.fit(X1, y1)

[16:52:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

MultiOutputRegressor(estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.01,
                                            max_delta_step=0, max_depth=5,
                                            min_child_weight=1, missing=None,
                                            n_estimators=148, n_jobs=1,
                                            nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1),
                     n_jobs=None)

In [47]:
from sklearn.metrics import mean_squared_error
y1_pred = xgb2.predict(X1)
mse1 = mean_squared_error(y1, y1_pred)

In [48]:
print(mse1 ** 0.5)

318653.8384256127

In [49]:
y2_pred = xgb2.predict(X2)
mse2 = mean_squared_error(y2, y2_pred)
print(mse2 ** 0.5)

556082.7711482528

In [50]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=88, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)
rfr.fit(X1, y1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=88, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [51]:
mean_squared_error(y1,rfr.predict(X1)) ** 0.5

66773.9865133246

In [52]:
mse3 = mean_squared_error(y2, rfr.predict(X2))

In [53]:
print(mse3 ** 0.5)

639835.4321919275

In [54]:
from lightgbm import LGBMRegressor
from sklearn.multioutput import MultiOutputRegressor
lgbmr = MultiOutputRegressor(LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.002,
                                             min_split_gain=0.0,
                                             n_estimators=147, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))
lgbmr.fit(X1, y1)

MultiOutputRegressor(estimator=LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.002,
                                             min_split_gain=0.0,
                                             n_estimators=147, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0),
                     n_jobs=None)

In [55]:
mean_squared_error(y1, lgbmr.predict(X1)) ** 0.5

164399.27752139795

In [56]:
mean_squared_error(y2, lgbmr.predict(X2)) ** 0.5

621683.0760835061

In [57]:
from lightgbm import LGBMRegressor
from sklearn.multioutput import MultiOutputRegressor
lgbmr1 = MultiOutputRegressor(LGBMRegressor())

In [58]:
from sklearn.ensemble import RandomForestRegressor
rfr1 = RandomForestRegressor()

In [59]:
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor
xgb3 = MultiOutputRegressor(XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.01, max_delta_step=0,
                                            max_depth=6, min_child_weight=1,
                                            missing=None, n_estimators=150,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1))

In [60]:
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor
xgb2 = MultiOutputRegressor(XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.01, max_delta_step=0,
                                            max_depth=5, min_child_weight=1,
                                            missing=None, n_estimators=148,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1))
xgb2.fit(X, y)

[16:52:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[16:52:47] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

MultiOutputRegressor(estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0,
                                            importance_type='gain',
                                            learning_rate=0.01,
                                            max_delta_step=0, max_depth=5,
                                            min_child_weight=1, missing=None,
                                            n_estimators=148, n_jobs=1,
                                            nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1),
                     n_jobs=None)

In [61]:
from lightgbm import LGBMRegressor
from sklearn.multioutput import MultiOutputRegressor
lgbmr33 = MultiOutputRegressor(LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.002,
                                             min_split_gain=0.0,
                                             n_estimators=147, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0))
lgbmr33.fit(X, y)

MultiOutputRegressor(estimator=LGBMRegressor(boosting_type='gbdt',
                                             class_weight=None,
                                             colsample_bytree=1.0,
                                             importance_type='split',
                                             learning_rate=0.1, max_depth=-1,
                                             min_child_samples=20,
                                             min_child_weight=0.002,
                                             min_split_gain=0.0,
                                             n_estimators=147, n_jobs=-1,
                                             num_leaves=31, objective=None,
                                             random_state=None, reg_alpha=0.0,
                                             reg_lambda=0.0, silent=True,
                                             subsample=1.0,
                                             subsample_for_bin=200000,
                                             subsample_freq=0),
                     n_jobs=None)

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
ada = MultiOutputRegressor(AdaBoostRegressor(base_estimator= RandomForestRegressor(),n_estimators=50))
ada.fit(X1, y1)

In [ ]:
print(mean_squared_error(y1, ada.predict(X1)) ** 0.5)

In [ ]:
print(mean_squared_error(y2, ada.predict(X2)) ** 0.5)

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
ada1 = MultiOutputRegressor(AdaBoostRegressor())
ada1.fit(X, y)

In [ ]:
y_pre = lgbmr33.predict(test_df)

In [ ]:
y_pre_ada = ada1.predict(test_df)

In [ ]:
output.iloc[:, 2:] = y_pre_ada

In [ ]:
output.to_csv('output.csv', index = False)